/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.map-container {
  flex: 1;
  height: 100%;
}

.list-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #111;
  border-left: 2px solid #444;
  box-sizing: border-box;
}

.filters {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #111;
  padding: 10px;
  border: 1px solid #444;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filters select,
.filters input {
  background-color: #222;
  color: white;
  border: 1px solid #555;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #555;
}

th {
  cursor: pointer;
  background-color: #333;
  padding: 8px;
  user-select: none;
  border-bottom: 2px solid #777;
  border-right: 1px solid #555;
  color: white;
}

td {
  padding: 8px;
  border-bottom: 1px solid #444;
  border-right: 1px solid #333;
}

td:last-child,
th:last-child {
  border-right: none;
}

td:first-child {
  font-weight: bold;
  color: white;
}

tr:nth-child(even) {
  background-color: #1a1a1a;
}

tr:nth-child(odd) {
  background-color: #111;
}
